.sweets
  .sweets__left
    .sweets__left--subtitle
      私のポートフォリオ
    .sweets__left--title
    
      お菓子好きのため
    .sweets__left--buttons
      = link_to fa_icon("coffee") + "作成した理由", "#", class: "button-why"
      = link_to fa_icon("coffee") + "新規登録", "#", class: "button-signup"
  .sweets__right
    .four-pieces
      .four-pieces__one
      .four-pieces__two
      .four-pieces__three
      .four-pieces__four
      .navigation