.sweets
  .sweets__left
    .sweets__left--subtitle
      私のポートフォリオ
    .sweets__left--title
      お菓子好き集合!!
    .sweets__left--buttons
      = link_to fa_icon("coffee") + "入室", "/users/siteguide", class: "button-why" 
  .sweets__right
    .four-pieces
      .four-pieces__one
      .four-pieces__two
      .four-pieces__three
      .four-pieces__four
      .navigation