.sweets-wrap
  .sweet.tl
    .img1
      .subtitle ポートフォリオ
      .title お菓子好き集合!!
  .sweet.tr
    .img2
  .sweet.br
    .img3
  .sweet.bl
    .img4
  = link_to "/users/siteguide", class: "cookie" do
    = fa_icon "coffee", class: "cookie-icon"
    Open
