.sweets-wrap
  .sweet.tl
    .img1
      .img1--reference
        ※Michal JarmolukによるPixabayからの画像 
        ※Referenced from Michal Jarmoluk - Pixabay
  .sweet.tr
    .img2
      .img2--reference
        ※Gundula VogelによるPixabayからの画像 
        ※Referenced from Gundula Vogel - Pixabay
  .sweet.br
    .img3
      .img3--reference
        ※Michal JarmolukによるPixabayからの画像 
        ※Referenced from Michal Jarmoluk - Pixabay
  .sweet.bl
    .img4
      .img4--reference
        ※VIVIANE MONCONDUITによるPixabayからの画像 
        ※Referenced from VIVIANE MONCONDUIT - Pixabay

  = link_to "/users/siteguide", class: "cookie-square", id: "change-open" do
    お菓子好き
    集合!!
