.site-guide
  .header-guide
    .header-guide__header
      お菓子づくりが好きな全ての人たちに...
    .header-guide__menu.clearfix
      = link_to "自己紹介", "#aboutme1", class: "aboutme"
      -# = link_to "", "#", class: "introduce-site"
      = link_to "スイーツページへ", "#", class: "confectionery"
      = link_to "新規登録", "#", class: "signup"
      = link_to "戻る", "/recipes", class: "back"
  .main-guide.clearfix
    サイト内紹介

    -# .main-guide__left
    
    -# .main-guide__right
    -#   .aboutme-box{id: "aboutme1"}
    -#     .aboutme-box__content
       
    -#       .name
    -#         ABOUT ME
    -#       %p.text
    -#         はじめまして。
    -#         %br
    -#           プログラミングの勉強を2019年10月から始めました。こちらは初めての個人アプリになります。ぜひご覧ください。
    -#   .introduce-site__box
    -#     .introduce-site__box--content
          
  .footer-siteguide
