.sweets-banner.owl-carousel
  .sweets-banner__images
    = image_tag "IMG_20190106_182431553.jpg", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "IMG_20190106_182431553.jpg", class: "sweets-banner__images--item"
  .sweets-banner__images
    = image_tag "IMG_20190106_182431553.jpg", class: "sweets-banner__images--item"
