.inner-left {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  height: 46px;
  &__drop-down {
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 60px;
    cursor: pointer;
    font-weight: bold;
    color: #b95c52;
    font-size: 30px;
    height: 60px;
    width: auto;
    position: relative;
    .parents-category {
      display: none; 
    }
    &:hover {
      transition: all .3s;
      .parents-category {
        height: 50px;
        margin: 0 auto;
        width: 170px;
        z-index: 2;
        position: absolute;
        display: block;
        &__parent {
          list-style: none;
          position: relative;
          width: 170px;
          display: block;
          a {
            background-color: $white;
            color: #46130a;
            display: block;
            height: 50px;
            line-height: 50px;
            text-align: center;
            text-decoration: none;
            width: 170px;
            border: 1px solid #7a6959;
            font-size: 20px;
            &:hover {
              background-color: #ffd88f;
            }
          }
          .children-category {
            margin: 0 auto;
            width: 280px;
            z-index: 2;
            position: absolute;
            left: 170px;
            top: 0;
            &__child {
              height: 0;
              overflow: hidden;
              width: 280px;
              position: relative;
              list-style: none;
              a {
                background-color: $white;
                color: #46130a;
                width: 280px;
                border: 1px solid #7a6959;
                display: block;
                height: 50px;
                line-height: 50px;
                text-align: center;
                text-decoration: none;
                &:hover {
                  background-color: #ffd88f;
                }
              }
            }
          }
          &:hover > ul > li {
            height: 50px;
            overflow: visible;
          }
        }
      }
    }
  }
}


