.inner-left {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  height: 46px;
  &__drop-down {
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(131, 22, 22);
    font-size: 20px;
    height: 60px;
    width: 170px;
    position: relative;
    .parents-category {
      display: none; 
    }
    &:hover {
      transition: all .3s;
      .parents-category {
        height: 50px;
        margin: 0 auto;
        width: 170px;
        z-index: 2;
        position: absolute;
        display: block;
        &__parent {
          list-style: none;
          position: relative;
          width: 170px;
          display: block;
          a {
            background-color: $white;
            color: #7a6959;
            display: block;
            height: 50px;
            line-height: 50px;
            text-align: center;
            text-decoration: none;
            width: 170px;
            border: 1px solid #7a6959;
          }
          .children-category {
            margin: 0 auto;
            width: 280px;
            z-index: 2;
            position: absolute;
            left: 170px;
            top: 0;
            
            &__child {
              height: 0;
              overflow: hidden;
              width: 280px;
              position: relative;
              list-style: none;
              a {
                background-color: $white;
                color: #7a6959;
                width: 280px;
                border: 1px solid #7a6959;
              }
            }
          }
          &:hover > ul > li {
            height: 50px;
            overflow: visible;
          }
        }
      }
    }
  }
}