.recipe-wrapper {
  width: 100vw;
  height: 100vh;
  // background-color: rgba(250, 202, 139, 0.897);
  // background-image: linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%,), linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%, rgba(255, 205, 139, 0.822));
  // background-position: 0 0, 25px 25px;
  // background-size: 50px 50px;

  .recipe-main{
    position: relative;
    // margin: 0 auto;
    // width: 80%;
    // height: 85%;
    &__space {
      // display: flex;
      // justify-content: space-between;
      width: 80%;
      padding: 65px 10%;
      margin: 0 auto;
      background-color: $white;
    }

  }
}
