span {
  @include required;
} 

.account-btn {
  @include account;
}

.recipe {
  width: 100%;
  position: relative;
  padding-top: 40px;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .recipe-label {
    float: left;
    width: 50%;
    font-weight: bold;
  }
  .recipe-input {
    float: right;
    width: 50%;
    .input-recipe {
      width: 80%;
    }
    #recipe_genre_id {
      width: 80%;
      height: 40px;
    }
    #recipe_difficulty_id {
      width: 80%;
      height: 40px;
    }
    .input-recipebig {
      width: 80%;
    }
  }
}
.ingredients-title {
  font-weight: bold;
  
}
a {
  text-decoration: none;
}
.actions-recipe {
  padding-top: 50px;
  text-align: center;
}