.recipe-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(250, 202, 139, 0.897);
  background-image: linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%,), linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%, rgba(255, 205, 139, 0.822));
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  &__title {
    width: 100%;
    color: rgb(122, 105, 89);
    line-height: 50px;
    font-size: 1.0rem;
    text-align: center;
  }
}