.account-header{
  top: 0;
  width: 100%;
  height: auto;
  background-color: #fff1f079;
  position: sticky;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  &__inner {
    width: 100%;
    height: auto;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 1rem;
    font-weight: bold;
    font-family: cursive;
    position: relative;
    &--coffee {
      color: #c5655a;
      text-decoration: none;
      @include hover-underline;
    }
  }
}