.pagetop-btn {
  position: fixed;
  z-index: 2;
  bottom: 80px;
  right: 40px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #d38b07;
  box-shadow: 0 0 8px $white;
  color: $white;
  text-align: center;
  &__text {
    height: 17px;
    margin: 25px 0 2px 0;
    font-size: 17px;
    line-height: 1.1;
  }
  &__icon {
    font-size: 46px;
    margin-top: 6px;
    color: $white;
    text-shadow: 4px 4px 2px #d38b07;
  }
  &:hover {
    box-shadow: 0 0 8px #d38b07;
  }
}
