.sweets-banner {
  width: 100%;
  // position: sticky;
  .owl-stage-outer {
    height: 20rem;
    height: 320px;
    .owl-stage {
      height: 20rem;
      .sweets-banner__images {
        background-color: black;
        &--item {
          height: 20rem;
          width: auto;
          margin: 0 auto;
        }
      }
    }
  }
  .owl-dots {
    display: none;
    .owl-dot {
      display: none;
    }
  }
}
