.sweets-banner {
  width: 100%;
  // position: sticky;
  .owl-stage-outer {
    height: 20rem;
    .owl-stage {
      height: 20rem;
    }
      // .owl-item
        // .sweets-banner--images
          // &--item
    
  }
  .owl-dots {
    display: none;
    .owl-dot {
      display: none;
    }
  }
}
