.site-guide {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  .header-guide {
    background-color: rgb(41, 26, 26);
    padding: 150px 30px 80px;
    height: 240px;
    &__header {
      color: rgb(167, 144, 80);
      font-size: 3.4rem;
      transition: all .3s;
      &:hover {
        color: rgb(247, 217, 137);
        font-size: 3.5rem;
      }
    }
    &__menu {
      margin: 20px 40px;
      padding: 0;
      &::after{
        content: "";
        display: block;
        clear: both;
      }
      .aboutme {
        color: $white;
        text-decoration: none;
        float: left;
        margin-right: 40px;
        font-size: 1.5rem;
        top: 0;
        &:hover {
          color: rgb(167, 144, 80);
          transition: all .3s;
          font-size: 1.6rem;
        }
      }
      .thissite {
        float: left;
        color: $white;
        text-decoration: none;
        margin-right: 40px;
        margin-top: 30px;
        font-size: 1.5rem;
        &:hover {
          color: rgb(167, 144, 80);
          transition: all .3s;
          font-size: 1.6rem;
        }
      }
      .confectionery {
        float: left;
        color: $white;
        text-decoration: none;
        margin-right: 40px;
        margin-top: 60px;
        font-size: 1.5rem;
        &:hover {
          color: rgb(167, 144, 80);
          transition: all .3s;
          font-size: 1.6rem;
        }
      } 
    }
  }

  .main-guide {
    background-color: rgba(250, 202, 139, 0.897);
    background-image: linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%,), linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%, rgba(255, 205, 139, 0.822));
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    padding: 100px 0;
    width: 100%;
    height: 100%;
    
    .text-title{
      color: $white;
      font-size: 2.4rem;
      text-align: center;
      padding-bottom: 40px;
      letter-spacing: 2rem;
      font-weight: bold;
      border-bottom: 2px solid $white;
      text-shadow: #6b5c33 1px 1px 2px, #a79050 0 0 20px;
    }
    &__contents {
      display: grid;
      grid-template-columns: 25% 1fr;
      grid-template-rows: 300px;
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      text-align: center;
      color: #291a1a;
      .aboutme-box {
        grid-column: 1 / 2;
        display: inline-grid;
        grid-template-rows: 100px auto;

        &__name {
          grid-row: 1 / 2;
          grid-column: 1 / 2;
          letter-spacing: 1.2rem;
          align-items: center;
          display: flex;
          justify-content: center;
          text-shadow: #6b5c33 1px 1px 2px, #a79050 0 0 20px;
          color: $white;
          border-bottom: 2px solid $white;
          font-size: 1.8rem;
          
        }
        &__text {
          grid-row: 2 / 3;
          font-size: 1.2rem;
          white-space: pre-line;
          padding: 2rem;
          box-sizing: border-box;

        }
      }

      .thissite-box {
        grid-column: 2 / 3;
        display: inline-grid;
        grid-template-rows: 100px auto;
        grid-template-columns: 1fr 1fr 1fr;
        &__description {
          grid-row: 1 / 2;
          grid-column: 1 / 4;
          letter-spacing: 1.2rem;
          align-items: center;
          display: flex;
          justify-content: center;
          text-shadow: #6b5c33 1px 1px 2px, #a79050 0 0 20px;
          color: $white;
          border-bottom: 2px solid $white;
          font-size: 1.8rem;
        }
        &__user {
          grid-row: 2 / 3;
          grid-column: 1 / 2;
          white-space: pre-line;
          font-size: 1.2rem;
          padding: 2rem;
          box-sizing: border-box;
        }
        &__recipe {
          grid-row: 2 / 3;
          grid-column: 2 / 3;
          white-space: pre-line;
          font-size: 1.2rem;
          padding: 2rem;
          box-sizing: border-box;
        }
        &__gem {
          grid-row: 2 / 3;
          grid-column: 3 / 4;
          white-space: pre-line;
          font-size: 1.2rem;
          padding: 2rem;
          box-sizing: border-box;
        }
      }
    }
  }
  .footer-guide {
    background-color: rgb(41, 26, 26);
    padding: 50px 30px 50px;
    height: 100px;
    text-align: center;
    .back {
      color: $white;
      text-decoration: none;
      font-size: 1.5rem;
      &:hover {
        color: rgb(167, 144, 80);
        transition: all .3s;
        font-size: 1.6rem;
      }
    } 
  }
}