.site-guide {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  .header-guide {
    background-color: rgb(41, 26, 26);
    padding: 150px 30px 80px;
    height: 240px;
    &__header {
      color: rgb(167, 144, 80);
      font-size: 3.4rem;
      transition: all .3s;
      &:hover {
        color: rgb(247, 217, 137);
        font-size: 3.5rem;
      }
    }
    &__menu {
      margin: 20px 40px;
      padding: 0;
      &::after{
        content: "";
        display: block;
        clear: both;
      }
      .aboutme {
        color: $white;
        text-decoration: none;
        float: left;
        margin-right: 40px;
        font-size: 1.5rem;
        top: 0;
        &:hover {
          color: rgb(167, 144, 80);
          transition: all .3s;
          font-size: 1.6rem;
        }
      }
      .thissite {
        float: left;
        color: $white;
        text-decoration: none;
        margin-right: 40px;
        margin-top: 30px;
        font-size: 1.5rem;
        &:hover {
          color: rgb(167, 144, 80);
          transition: all .3s;
          font-size: 1.6rem;
        }
      }
      .confectionery {
        float: left;
        color: $white;
        text-decoration: none;
        margin-right: 40px;
        margin-top: 60px;
        font-size: 1.5rem;
        &:hover {
          color: rgb(167, 144, 80);
          transition: all .3s;
          font-size: 1.6rem;
        }
      } 
    }
  }

  .main-guide {
    background-color: rgba(250, 202, 139, 0.897);
    background-image: linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%,), linear-gradient(45deg, rgba(255, 205, 139, 0.822) 25%, transparent 25%, transparent 75%, rgba(255, 205, 139, 0.822) 75%, rgba(255, 205, 139, 0.822));
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
    padding: 100px 0;
    .text-title{
      color: $white;
      font-size: 2.4rem;
      text-align: center;
      padding-bottom: 40px;
    }
    &__contents {
      display: table;
      table-layout: fixed;
      width: 100%;
      border: 2px solid $white;
      border-collapse: separate;
      border-spacing: 100px 50px;
      .aboutme-box{
        display: table-cell;
        // border: 2px solid yellow;
        &__name {
          font-size: 2.5rem;
          color: $white;
          font-weight: bold;
          letter-spacing: 1.5rem;
          position: relative;
          display: inline-block;
          text-shadow: rgb(158, 0, 92) 1px 1px 2px, rgb(230, 37, 156) 0 0 20px;
          padding-bottom: 15px;
        }
        &__text {
          margin: 15px 30px;
          font-size: 1.5rem;
          background-color: $white;
          word-wrap: break-word;
        }
      }
      .thissite-box {
        display: table-cell;
        // border: 2px solid yellow;
        &__description {
          font-size: 2.5rem;
          color: $white;
          font-weight: bold;
          letter-spacing: 1.5rem;
          position: relative;
          display: inline-block;
          text-shadow: rgb(52, 214, 255) 1px 1px 2px, rgb(37, 40, 230) 0 0 20px;
          padding-bottom: 15px;
        }
        &__text {
          margin: 15px 30px;
          font-size: 1.5rem;
          background-color: $white;
          word-wrap: break-word;
        }
      }
    }
  }
  .footer-guide {
    background-color: rgb(41, 26, 26);
    padding: 50px 30px 50px;
    height: 100px;
    text-align: center;
    .back {
      color: $white;
      text-decoration: none;
      font-size: 1.5rem;
      &:hover {
        color: rgb(167, 144, 80);
        transition: all .3s;
        font-size: 1.6rem;
      }
    } 
  }
}