.sweets-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  .sweet {
    position: absolute;
    width: 50%;
    height: 50%;

    &.tl{
      top: 0;
      left: 0;
      background-position: top left;
      .img1 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('P1020028.JPG');
        &::after {
          content: '';
          background-color: #34383880;
          opacity: 0.5;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        .subtitle {
          margin: 0;
          color: #FFF;
          font-weight: bold;
          position: relative;
          z-index: 1;
          padding: 120px 10px 0;
          letter-spacing: 2px;
          font-size: 2rem;
          text-align: center;
          font-family: serif;
          &::before,
          &::after {
            content: "";
            display: inline-block;
            width: 20%;
            height: 2px;
            margin: 0 30px;
            vertical-align: middle;
            background-color: $white;
          }
        }
        .title {
          padding: 80px 10px 0;
          color: $white;
          font-size: 3.3rem;
          text-align: center;
          font-weight: bold;
          z-index: 1;
          position: relative;
          font-family: serif;
        }
      }
    }

    &.tr{
      top: 0;
      right: 0;
      background-position: top right;
      .img2 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('P1010217.JPG');
        &::after {
          content: '';
          background-color: rgba(223, 139, 223, 0.158);
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }

    &.br{
      bottom: 0;
      right: 0;
      background-position: bottom right;
      .img3 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('P1000337.JPG');
        &::after {
          content: '';
          background-color: rgba(245, 225, 163, 0.514);
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }

    &.bl{
      bottom: 0;
      left: 0;
      background-position: bottom left;
      .img4 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('P1000316.JPG');
        &::after {
          content: '';
          background-color: #feb64a42;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
    }
  }
  
  .cookie {
    text-shadow: 2px 2px 0 black;
    font-family: cursive;
    background: -moz-radial-gradient($white 20%, rgba(255, 255, 255, 0) 70%); 
    background: -webkit-radial-gradient($white 20%, rgba(255, 255, 255, 0) 70%); 
    background: radial-gradient($white 20%, rgba(255, 255, 255, 0) 70%); 
    color: #806d3c;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 4.0rem;
    font-weight: bold;
    border-radius: 100%;
    border-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Flash1 5s infinite;
    @keyframes Flash1{
      50%{
        // box-shadow: 0 1px 15px 0 #feffbd;
        border-style: dotted;
        border-width: 0.8rem;
      }
    }
    .cookie-icon {
      color: #a79050;
    }
  }
}