.sweets-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  .sweet {
    position: absolute;
    width: 50%;
    height: 50%;

    &.tl{
      top: 0;
      left: 0;
      background-position: top left;
      .img1 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('bun-268237_640.jpg');
        &::after {
          content: '';
          background-color: #5036077e;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        &--reference {
          white-space: pre-wrap;
          color: $white;
          z-index: 1;
          position: absolute;
          font-weight: bold;
          top: 0;
        }
      }
    }

    &.tr{
      top: 0;
      right: 0;
      background-position: top right;
      .img2 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('waffles-3972360_640.jpg');
        &::after {
          content: '';
          background-color: #74672170;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        &--reference {
          white-space: pre-wrap;
          color: $white;
          z-index: 1;
          position: absolute;
          font-weight: bold;
          top: 0;
        }
      }
    }

    &.br{
      bottom: 0;
      right: 0;
      background-position: bottom right;
      .img3 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('tart-2002829_640.jpg');
        &::after {
          content: '';
          background-color: rgba(112, 90, 43, 0.603);
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        &--reference {
          white-space: pre-wrap;
          color: $white;
          z-index: 1;
          position: absolute;
          font-weight: bold;
          bottom: 0;
        }
      }
    }

    &.bl{
      bottom: 0;
      left: 0;
      background-position: bottom left;
      .img4 {
        width: 100%;
        height: 100%;
        background-size:cover;
	      background-position: center center;
        position: relative;
        background-image: image-url('waffle-3935713_640.jpg');
        &::after {
          content: '';
          background-color: #573a0e93;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
        &--reference {
          white-space: pre-wrap;
          color: $white;
          z-index: 1;
          position: absolute;
          font-weight: bold;
          bottom: 0;
        }
      }
    }
  }
  .cookie-square {
    text-shadow: 2px 2px 0 rgb(73, 69, 69);
    background: radial-gradient(rgba(0, 0, 0, 0.692) 20%, rgba(0, 0, 0, 0.493)  50%, rgba(0, 0, 0, 0.329) 80%, rgba(0, 0, 0, 0.233) 90%, rgba(0, 0, 0, 0.11) 100% );
    background-color: #46130a;
    color: $white;
    text-decoration: none;
    font-family: serif;
    letter-spacing: 1.7rem;
    font-size: 4.0rem;
    white-space: nowrap;
    font-weight: bold;
    border-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}