.sweets-wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
  .sweet {
    position: absolute;
    width: 50%;
    height: 50%;
    &.tl{
      background: linear-gradient(-135deg, rgb(168, 76, 127), rgb(122, 33, 82));
      top: 0;
      left: 0;
      background-position: top left;
      .subtitle {
        padding: 120px 10px 0;
        color: $white;
        text-shadow: 2px 2px 0 rgb(97, 13, 59);
        letter-spacing: 2px;
        font-size: 1.8rem;
        text-align: center;
        &::before,
        &::after {
          content: "";
          display: inline-block;
          width: 20%;
          height: 2px;
          margin: 0 30px;
          vertical-align: middle;
          background-color: $white;
          // background-color: #b8860b;
        }
      }
      .title {
        padding: 80px 10px 0;
        color: $white;
        text-shadow: 2px 2px 0 rgb(97, 13, 59);
        font-size: 3.3rem;
        text-align: center;
        font-weight: bold;
      }
    }
    &.tr{
      top: 0;
      right: 0;
      background-position: top right;
      .img1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.br{
      bottom: 0;
      right: 0;
      background-position: bottom right;
      .img2 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &.bl{
      bottom: 0;
      left: 0;
      background-position: bottom left;
      .img3 {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  
  .cookie {
    background: -moz-radial-gradient($white, #ffb9b9); 
    background: -webkit-radial-gradient($white, #ffb9b9); 
    background: radial-gradient($white, #ffb9b9); 
    text-shadow: 1px 1px 0 rgb(131, 117, 58);
    color: #b8860b;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 5.0rem;
    font-weight: bold;
    border-radius: 2.4rem;
    border-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Flash1 2s infinite;
    @keyframes Flash1{
      50%{
        box-shadow: 0 1px 15px 0 #feffbd;
        border-style: dotted;
        border-width: 0.3rem;
      }
    }
  }
}