@mixin account {
  border-radius: 15px;
  color: $white;
  text-align: center;
  padding: 8px 25px;
  font-weight: bold;
  font-size: 30px;
  margin: 40px;
  cursor: pointer;
  letter-spacing: 5px;
  background-color: rgb(255, 186, 37);
  &:hover {
    background-color: $white;
    color: rgb(255, 186, 37);
    background-image: none;
    background-position: none;
    background-size: none;
    transition: all .3s;
    box-shadow: 0 0 10px rgb(255, 186, 37);
  }
}
